<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>MJ_.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,103}</string>
                <key>spriteSourceSize</key>
                <string>{72,103}</string>
                <key>textureRect</key>
                <string>{{1,1},{72,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MJ_1_TIAO.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,103}</string>
                <key>spriteSourceSize</key>
                <string>{72,103}</string>
                <key>textureRect</key>
                <string>{{1,106},{72,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MJ_1_TONG.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,103}</string>
                <key>spriteSourceSize</key>
                <string>{72,103}</string>
                <key>textureRect</key>
                <string>{{75,1},{72,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MJ_1_WAN.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,103}</string>
                <key>spriteSourceSize</key>
                <string>{72,103}</string>
                <key>textureRect</key>
                <string>{{75,106},{72,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MJ_2_TIAO.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,103}</string>
                <key>spriteSourceSize</key>
                <string>{72,103}</string>
                <key>textureRect</key>
                <string>{{149,1},{72,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MJ_2_TONG.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,103}</string>
                <key>spriteSourceSize</key>
                <string>{72,103}</string>
                <key>textureRect</key>
                <string>{{149,106},{72,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MJ_2_WAN.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,103}</string>
                <key>spriteSourceSize</key>
                <string>{72,103}</string>
                <key>textureRect</key>
                <string>{{223,1},{72,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MJ_3_TIAO.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,103}</string>
                <key>spriteSourceSize</key>
                <string>{72,103}</string>
                <key>textureRect</key>
                <string>{{223,106},{72,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MJ_3_TONG.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,103}</string>
                <key>spriteSourceSize</key>
                <string>{72,103}</string>
                <key>textureRect</key>
                <string>{{297,1},{72,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MJ_3_WAN.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,103}</string>
                <key>spriteSourceSize</key>
                <string>{72,103}</string>
                <key>textureRect</key>
                <string>{{297,106},{72,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MJ_4_TIAO.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,103}</string>
                <key>spriteSourceSize</key>
                <string>{72,103}</string>
                <key>textureRect</key>
                <string>{{371,1},{72,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MJ_4_TONG.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,103}</string>
                <key>spriteSourceSize</key>
                <string>{72,103}</string>
                <key>textureRect</key>
                <string>{{371,106},{72,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MJ_4_WAN.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,103}</string>
                <key>spriteSourceSize</key>
                <string>{72,103}</string>
                <key>textureRect</key>
                <string>{{445,1},{72,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MJ_5_TIAO.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,103}</string>
                <key>spriteSourceSize</key>
                <string>{72,103}</string>
                <key>textureRect</key>
                <string>{{445,106},{72,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MJ_5_TONG.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,103}</string>
                <key>spriteSourceSize</key>
                <string>{72,103}</string>
                <key>textureRect</key>
                <string>{{519,1},{72,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MJ_5_WAN.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,103}</string>
                <key>spriteSourceSize</key>
                <string>{72,103}</string>
                <key>textureRect</key>
                <string>{{519,106},{72,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MJ_6_TIAO.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,103}</string>
                <key>spriteSourceSize</key>
                <string>{72,103}</string>
                <key>textureRect</key>
                <string>{{593,1},{72,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MJ_6_TONG.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,103}</string>
                <key>spriteSourceSize</key>
                <string>{72,103}</string>
                <key>textureRect</key>
                <string>{{593,106},{72,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MJ_6_WAN.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,103}</string>
                <key>spriteSourceSize</key>
                <string>{72,103}</string>
                <key>textureRect</key>
                <string>{{667,1},{72,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MJ_7_TIAO.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,103}</string>
                <key>spriteSourceSize</key>
                <string>{72,103}</string>
                <key>textureRect</key>
                <string>{{667,106},{72,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MJ_7_TONG.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,103}</string>
                <key>spriteSourceSize</key>
                <string>{72,103}</string>
                <key>textureRect</key>
                <string>{{741,1},{72,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MJ_7_WAN.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,103}</string>
                <key>spriteSourceSize</key>
                <string>{72,103}</string>
                <key>textureRect</key>
                <string>{{741,106},{72,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MJ_8_TIAO.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,103}</string>
                <key>spriteSourceSize</key>
                <string>{72,103}</string>
                <key>textureRect</key>
                <string>{{815,1},{72,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MJ_8_TONG.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,103}</string>
                <key>spriteSourceSize</key>
                <string>{72,103}</string>
                <key>textureRect</key>
                <string>{{815,106},{72,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MJ_8_WAN.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,103}</string>
                <key>spriteSourceSize</key>
                <string>{72,103}</string>
                <key>textureRect</key>
                <string>{{889,1},{72,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MJ_9_TIAO.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,103}</string>
                <key>spriteSourceSize</key>
                <string>{72,103}</string>
                <key>textureRect</key>
                <string>{{889,106},{72,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MJ_9_TONG.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,103}</string>
                <key>spriteSourceSize</key>
                <string>{72,103}</string>
                <key>textureRect</key>
                <string>{{963,1},{72,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MJ_9_WAN.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,103}</string>
                <key>spriteSourceSize</key>
                <string>{72,103}</string>
                <key>textureRect</key>
                <string>{{963,106},{72,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MJ_BAI.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,103}</string>
                <key>spriteSourceSize</key>
                <string>{72,103}</string>
                <key>textureRect</key>
                <string>{{1037,1},{72,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MJ_BEI.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,103}</string>
                <key>spriteSourceSize</key>
                <string>{72,103}</string>
                <key>textureRect</key>
                <string>{{1037,106},{72,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MJ_DONG.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,103}</string>
                <key>spriteSourceSize</key>
                <string>{72,103}</string>
                <key>textureRect</key>
                <string>{{1111,1},{72,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MJ_FA.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,103}</string>
                <key>spriteSourceSize</key>
                <string>{72,103}</string>
                <key>textureRect</key>
                <string>{{1111,106},{72,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MJ_NAN.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,103}</string>
                <key>spriteSourceSize</key>
                <string>{72,103}</string>
                <key>textureRect</key>
                <string>{{1185,1},{72,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MJ_XI.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,103}</string>
                <key>spriteSourceSize</key>
                <string>{72,103}</string>
                <key>textureRect</key>
                <string>{{1185,106},{72,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MJ_ZHONG.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,103}</string>
                <key>spriteSourceSize</key>
                <string>{72,103}</string>
                <key>textureRect</key>
                <string>{{1259,1},{72,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>majiang.png</string>
            <key>size</key>
            <string>{1332,210}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6d2185bbdd6f5cad5dc913f67dd7bdd4:177a54de24274b7a434fcde49f9c73b5:38bb41fadc358136095298b0809872c8$</string>
            <key>textureFileName</key>
            <string>majiang.png</string>
        </dict>
    </dict>
</plist>
